{% extends "index.html" %}
{% block inicio %}
    <a href="{% url 'adminDashboard' %}"><i class="fas fa-home"></i> Início</a>
    <a href="{% url 'perfil' %}"><i class="fas fa-user"></i> Perfil</a>

{% endblock inicio %}

{% block content %}

<div class="titulo-secao">
    <h4>Lista de Alunos Cadastrados</h4>
</div>

<table class="tabelaMensalidades">
    <tr>
        <th></th>
        <th>Nome</th>
        <th>Turma</th>
        <th>Telefone</th>
        <th>Idade</th>
        <th>Responsável</th>
        <th>Ações</th>
    </tr>
    {% for aluno in alunos %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'alunoDetalhes' aluno_id=aluno.id %}">{{ aluno.nome }}</a></td>
        <td>{{ aluno.turma.nome }}</td>
        <td>{{ aluno.telefone }}</td>
        <td>{{ aluno.idade }}</td>
        <td>{{ aluno.responsavel }}</td></td>
        <td>
            <form action="{% url 'excluirAluno' aluno_id=aluno.id %}" method="POST" style="display: inline; background: none;text-decoration: none ;cursor: pointer;">
                {% csrf_token %}
                <div class="buttonCase">
                    <button type="submit" onclick="return confirm('Tem certeza que deseja excluir {{ aluno.nome }}?');" class="blueButton" >
                        Excluir
                    </button>
                    <a href="{% url 'editarAluno' aluno_id=aluno.id %}" class="blueButton" >Editar</a>
                </div>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<div style="padding-bottom: 20px; padding-top: 20px; justify-content: center; display: flex;">
    <a href="{% url 'adminDashboard' %}"><button class="blueButton"> Voltar</button></a>
</div>
{% endblock content %}