{% extends "index.html" %}
{% block inicio %}
    <a href="{% url 'adminDashboard' %}"><i class="fas fa-home"></i> Início</a>
    <a href="{% url 'perfil' %}"><i class="fas fa-user"></i> Perfil</a>
{% endblock inicio %}
{% block content %}

<div id="alunos-container">
    <div id="form-wrapper" style="margin-bottom: 1rem;">
        <h2 class="titulo-secao">Adicionar Novo Aluno</h2>
        <form method="POST" id="form-aluno">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row">
                    {{ form.as_p }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="btn-adicionar" style="margin-top: 2rem;">Adicionar</button>
        </form>
    </div>

    <div id="aluno-list">
        <h2 class="titulo-secao">{{ turma.nome }}</h2>
        <h3 class="subtitulo-secao">Alunos Cadastrados: {{ alunos.count }} - Mensalidade: R$ {{ turma.valorMensalidade }}</h3>
        {% if alunos %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> ID </th>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>Ações</th> 
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos %}
                <tr>
                    <td>{{ forloop.counter }}</td>  <!-- ID Sequencial -->
                    <td>{{ aluno.nome }}</td>
                    <td>
                        {% if aluno.possui_pendencias %}
                            <span class="text-danger">Possui Pendência</span>
                        {% else %}
                            <span class="text-success">Em Dia</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'alunoDetalhes' aluno_id=aluno.id %}" class="btn btn-info btn-sm">Detalhes</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-muted">Não há alunos cadastrados nesta turma.</p>
        {% endif %}
    </div>
    
    <div style="display: flex; justify-content: center; gap: 10px; padding-top: 50px; margin-bottom: 20px;">
    <a href="{% url 'turmasDashboard' %}"><button class="voltarButton">Voltar</button></a>
        <form method="POST" action="{% url 'excluirTurma' turma.id %}" onsubmit="return confirmarExclusao();">
            {% csrf_token %}
            <button type="submit" class="excluirButton">Excluir Turma</button>
        </form>
    </div>
    
    <script>
        function confirmarExclusao() {
            return confirm("Tem certeza que deseja excluir esta turma? Esta ação não pode ser desfeita.");
        }
    </script>
</div>


{% endblock %}