{% extends "index.html" %}
{% load custom_filters %}
{% block inicio %}
    <a href="{% url 'adminDashboard' %}"><i class="fas fa-home"></i> Início</a>
    <a href="{% url 'perfil' %}"><i class="fas fa-user"></i> Perfil</a>
{% endblock inicio %}
{% block content %}

<div id="turmas-container">
    <div id="form-wrapper" style="width: 100%; margin-left: 0px; ">
        <h2 class="titulo-secao">Adicionar Nova Turma</h2>
        <form method="POST" id="form-turma">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row">
                    {{ form.as_p }}
                </div>
            </div>
            <div class="container">
            <button type="submit" class="btn btn-primary" id="btn-adicionar" style="margin-top: 1rem;">Adicionar</button></div>
        </form>
    </div>


    <div id="turmas-list">
        <h1 class="titulo-secao">Turmas Cadastradas: {{ turmas.count }}</h1>
        <table class="tabelaTurmas">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome da Turma</th>
                    <th>Turno</th>
                    <th>Mensalidade</th>
                    <th>Qtd Alunos</th>
                    <th>Saldo Mensal</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for turma in turmas %}
                <tr>
                    <td>{{ forloop.counter }}</td>  <!-- ID Sequencial -->
                    <td>{{ turma.nome }}</td>
                    <td>{{ turma.turno }}</td> 
                    <td> R$ {{ turma.valorMensalidade }}</td>
                    <td>{{ turma.alunos.count }}</td>
                    <td>R$ {{ saldo_mensal_por_turma|get_item:turma.id|default:"0.00" }}</td>    
                     <!-- PARA SALDO ANUAL -------------  <td>R$ {{ saldo_mensal_por_turma|get_item:turma.id|default:"0.00" }}</td> -------------- -->
                    <td>
                        <a href="{% url 'turmaDetalhes' turma.id %}" class="btn btn-info btn-sm" style="max-width: 80%; width: auto; justify-content: center; display: flex;">Detalhes</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div style="display: flex; justify-content: center; padding-top: 40px;">
    <a href="{% url 'adminDashboard' %}" style="text-decoration: none;color: var(--white-color);"><button
            class="blueButton">Voltar</button></a></div>

</div>

<!-- SCRIPT PARA O VALOR DA MENSALIDADE NO FORMULÁRIO -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const moneyInputs = document.querySelectorAll(".money-mask");

        moneyInputs.forEach(input => {
            input.addEventListener("input", function () {
                let value = this.value.replace(/\D/g, ""); // Remove tudo que não for número
                value = (parseFloat(value) / 100).toLocaleString("pt-BR", {
                    style: "currency",
                    currency: "BRL"
                });
                this.value = value;
            });
        });
    });
</script>
{% endblock %}