
:root {
    --background-color: #f8f9fa;
    --text-color: #343a40;
    --primary-color: #007bff;
    --secondary-color: #117888;
    --white-color: #ffffff;
    --errorColor:#FF2929;
    --successColor:#00C851;
    --warningColor:#ffbb33;
    --infoColor:#33b5e5;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Roboto', sans-serif;
    background: #22c1c3;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, #dbfa50 65%);
    background-attachment: fixed; /* Fixa o background para evitar quebras */
    color: var(--text-color);
    line-height: 1.6;
    margin: 0; /* Remove margens padrão */
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    display: flex;
    flex-direction: column; /* Útil para layouts com footer */


    padding: 0;
    width: 100%;
    height: 100%;
}


body p{
    font-size: 20px;
}

main {
    display: flex;
    min-height: 100vh; /* Ocupa toda a altura da tela */
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 2rem;
}



 
header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #3086b8dc;
    box-shadow: #0056b3;
    font-weight: bold; /* Destaque o link ativo */
}

nav a {
    color: var(--white-color);
    text-decoration: none;
    padding: 1rem;
    font-weight: 500;
}
nav a:hover {
    background-color: white;

    font-weight: 50px;
    color: #3086b8dc;
}

.nav a.active {
    font-weight: bold; /* Destaque o link ativo */
    border-bottom: 2px solid #ffdd57; /* Linha abaixo do link ativo */
}

/* -------------------------------------------------------------------------------*/

  
  .nav .radio input + .name:hover {
    scale: 120%;
    color: #e4f316;
  }
  
  .nav .radio input:hover + .name:hover {

    color: #1d1d29;
  }
  
  .nav .radio input:hover + .name::after,
  .nav .radio input:hover + .name::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
  }
  
  .nav .radio input:hover + .name::after {
    right: -10px;
    border-bottom-left-radius: 300px;
    box-shadow: -3px 3px 0px 3px #fcfcfc;
  }
  
  .nav .radio input:hover + .name::before {
    left: -10px;
    border-bottom-right-radius: 300px;
    box-shadow: 3px 3px 0px 3px #fcfcfc;
  }

/* -------------------------------------------------------------------------------*/

/* Estilos para o Banner */
.banner1 {
    width: 100%; /* Define a largura do banner */
    max-height: 80%; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    overflow: hidden; /* Evita que o conteúdo extrapole o tamanho definido */
    position: relative; /* Permite posicionar a mensagem de boas-vindas dentro do banner */
}

.banner-logo {
    width: auto; /* Ajusta a largura proporcionalmente */
    height: 200px; /* Ajuste conforme necessário */
    border-radius: 20px;
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */
}



/* Estilos para o Pop-up de Boas-Vindas */
/* Estilos para o Pop-up de Boas-Vindas */
.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: fixed; /* Fixa o pop-up na tela */
    top: 80px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    width: 18rem; /* Largura do pop-up */
    height: 8rem; /* Altura do pop-up */
    background: #080808;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
    --color: #32a6ff;
    z-index: 1000; /* Garante que o pop-up fique acima de tudo */
    animation: fadeInOut 8s ease-in-out forwards; /* Animação de entrada e saída */
    display: none; /* Inicialmente oculto */
}

.notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #fefeff;
    z-index: 2;
}

.notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}

.notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
}

.notibody {
    color: #99999d;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
}

.notiglow,
.notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
}

.notiglow {
    z-index: 3;
}

.notiborderglow {
    z-index: 1;
}

/* Animação de entrada e saída */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}




.parteCima {
    margin: 0 auto;
    max-width: 500px;

    margin: 0 auto;


}


.parteCima .alunoDetalhes {
    margin: 0 auto;
    max-width: 500px;
    margin: 1rem;
    padding: 20px;
    background: #feffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

.alunoDetalhes table {
    width: 100%;
    border-collapse: collapse;
    
}

.alunoDetalhes td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px; /* Increased font size */
    max-width: 100%; /* Garante que o botão não ultrapasse a célula */
    padding: 5px 10px; /* Reduz o espaço interno do botão */
}

.alunoDetalhes td:first-child {
    margin: 0 auto;
    max-width: 700px;
    font-weight: bold;
    color: #0f6e7c;
    width: 40%;
}

.alunoDetalhes td:last-child {
    color: #555;
}

.alunoDetalhes tr:last-child td {
    border-bottom: none;

}









.comece {
    align-items: flex-start; /* Alinha os itens ao topo */
    padding: 2rem;
    margin-top: 2rem;
    width: 50%;
    box-shadow: 20px 20px 60px #fafcfb25, -20px -20px 60px #21bcc773;
    border-radius: 20px;
    transition: background-color 1.5s ease, transform 0.3s ease; /* Transição suave */

}

.comece:hover {
    transform: scale(1.00); /* Aumenta o tamanho em 5% */
    background-color: #21bcc731; /* Altera a cor de fundo */

    background-image: url('');
} 

.comeceLogo {
    width: auto; /* Ajusta a largura proporcionalmente */
    height: 100px; /* Ajuste conforme necessário */
    border-radius: 20px;
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */

}

.comece p{
    margin-top: 2.5rem;
}

.Sobre {
    background-color: #2fb3bda1;
    color: rgba(0, 0, 0, 0.774);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Sobre p{
    margin-top: 2.5rem;
}
.adminDashboard{
    display: flex;     
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    
}
.adminDashboard ul{ 
    flex-direction: row;
    gap: 30px;

}

.containerDescricao {
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaço entre texto e card */
    align-items: flex-start; /* Alinha os itens ao topo */
    width: 100%; /* Ocupa toda a largura da página */
    padding: 5rem; /* Espaçamento interno */
    
}

/* Texto à esquerda */
.descricao {
    width: 50%; /* Ocupa 40% da largura */
    text-align: justify;
    color:#111313d7;
    margin-top: 2rem;
    margin-left: 5rem;
    padding: 5rem; /* Padding interno 
    background-color: #3fecb3c7;*/
    
    box-shadow: 20px 20px 60px #1bc46fa6, -20px -20px 60px #21bcc7b6;
    border-radius: 20px;
    transition: background-color 1.5s ease, transform 0.3s ease; /* Transição suave */
}

.descricao:hover {
    transform: scale(1.01); /* Aumenta o tamanho em 5% */
    background-color: #21bcc73b; /* Altera a cor de fundo */

    background-image: url('');
} 

.descricao h1 {
    
    font-size: 1,5rem; /* Tamanho do título */
    margin-bottom: 1rem; /* Espaçamento inferior */
}

.descricao p {
    font-size: 18px; /* Tamanho do parágrafo */
    line-height: 1.5; /* Espaçamento entre linhas */
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Estilos BARRA DE FUNÇÕES <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.radio-inputs {
    position: relative;
    display: flex;
    border-radius: 0.5rem;
    background-color: #3086b8dc;
    box-sizing: border-box;
    font-size: 14px;
    width: 80%;
    padding: 1rem 1rem 0 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold; /* Destaque o link ativo */
    border-bottom: 2px solid #6196d3d5; /* Linha abaixo do link ativo */
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0.8rem;
    color: #f0f0f1;
    transition: all 0.15s ease-in-out;
    position: relative;
  }
  
  .radio-inputs .radio input:hover + .name {
    background-color: #fcfcfc;
    font-weight: 600;
  }
  
  .radio-inputs .radio input + .name:hover {
    scale: 120%;
    color: #e4f316;
  }
  
  .radio-inputs .radio input:hover + .name:hover {

    color: #3086b8dc;
  }
  
  .radio-inputs .radio input:hover + .name::after,
  .radio-inputs .radio input:hover + .name::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
  }
  
  .radio-inputs .radio input:hover + .name::after {
    right: -10px;
    border-bottom-left-radius: 300px;
    box-shadow: -3px 3px 0px 3px #fcfcfc;
  }
  
  .radio-inputs .radio input:hover + .name::before {
    left: -10px;
    border-bottom-right-radius: 300px;
    box-shadow: 3px 3px 0px 3px #fcfcfc;
  }

.feed {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 80px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    

    
}

.feed h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.feed table {
    width: 100%;
    border-collapse: collapse;
    background: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.feed th {
    background: #1384a7c5;
    color: white;
    font-size: 18px;
    padding: 12px;
    text-transform: uppercase;
}

.feed td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 16px;
}

.feed tr:nth-child(even) {
    background: #f1f1f1;
}

.feed tr:hover {
    background: #d6e4ff;
    transition: 0.3s;
}
/* --------------------------------------------------------------------------- ( BOTÕES ) -----------------------------------------------------*/
button {
    background-color: #128091;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    width: 200px;
    height: 50px;
    overflow: hidden; /* Evita áreas invisíveis de clique */
    transition: background-color 0.3s;  /* Transição suave para cor de fundo */
    
}

button:hover {
    background-color: #0f6b79;
}

.excluirButton{
    background-color: #c50e0e;
    color: rgb(255, 255, 255);
    margin-inline: flex;

}

.excluirButton:hover {
    background-color: #970707;
}


.button .blueButton {
    background-color: #128091;
    color: white;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden; /* Evita áreas invisíveis de clique */

}

.blueButton:hover {
    background-color: #0056b3;
}

.voltarButton {
    background-color: #128091;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden; /* Evita áreas invisíveis de clique */

}

.voltarButton:hover {
    background-color: #0056b3;
}

a {
    display: flex; /* Garante que o link não ocupe mais espaço do que o botão */
    text-decoration: none; /* Remove sublinhado do link */
    width: fit-content;
}

/* Botões */
.btn {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button .btn-adicionar {
    padding: 10px 20px;         /* Adiciona um pouco de espaço interno ao botão */
    background-color: #2de61c;  /* Cor de fundo do botão */
    color: white;               /* Cor do texto */
    border: none;               /* Remove a borda padrão */
    border-radius: 5px;         /* Borda arredondada */
    font-size: 16px;            /* Tamanho da fonte */
    cursor: pointer;           /* Mostra um ponteiro ao passar o mouse */
    transition: background-color 0.3s;  /* Transição suave para cor de fundo */
}

#btn-adicionar:hover {
    background-color: #0056b3;
}

.btn-info {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-info:hover {
    background-color: #064991;
}


/* -------------------------------------------->>>>>>>>>>> FOOTER FOOTER FOOTER <<<<<<<< --------------------*/
footer {
    position: static; /* Fixa o footer na parte inferior da página */
    bottom: 0; /* Posiciona o footer na parte inferior */
    left: 0; /* Alinha o footer à esquerda */
    width: 100%; /* Ocupa toda a largura da tela */
    background-color: #1384a7c5; /* Cor de fundo do footer */
    padding: 10px 0; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para efeito visual */
    z-index: 1000; /* Garante que o footer fique acima de outros elementos */
    margin: 0; /* Remove margens padrão */
}

.Box{
    background-color: var(--white-color);
    padding: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
} 

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
   list-style: none;
}
li a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
}

.lista-alunos {
    background-color: #ced4da;
}



/* Estilos para os diferentes status de pagamento */
.status-pago {
    background-color: #ffffff;
    color: #086d30;
}

.status-atrasado {
    background-color: #ff0000a6;
    color: var(--lback-color);
}

.status-pendente {
    background-color: #ffffff;
    color: var(--black-color);
}

/* Estilo adicional para hover nas linhas */
.status-pago:hover,
.status-atrasado:hover,
.status-pendente:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* ---------------------- >>>>>>>>>>>>>>>>>>>>>>>> TABELAS / TABELAS <<<<<<<<<<<<<<<<-------------------------------------- */
.table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

}

.table th, .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.table th {
    background-color: var(--primary-color);
    color: var(--white-color);
}


.tabelaMensalidades {
    background-color: var(--white-color);
    table-layout: fixed;
    padding: 15px;
    border: 20px solid #ffffff;
    border-collapse: collapse;
    width: calc(100% - 8rem); /* Ajusta a largura para considerar as margens */
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 20px;
    box-sizing: border-box; /* Inclui padding e borda na largura total */
}

.tabelaMensalidades th {
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border: 1px solid #ddd;
}

.tabelaMensalidades td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabelaMensalidades th {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.tabelaMensalidades td:last-child button {
    max-width: 100%; /* Garante que o botão não ultrapasse a célula */
    width: auto; /* Permite que o botão se ajuste ao conteúdo */
    padding: 5px 10px; /* Reduz o espaço interno do botão */
    font-size: 14px; /* Reduz um pouco o tamanho do texto */
    white-space: nowrap; /* Evita quebra de linha dentro do botão */
}

.tabelaMensalidades td:nth-last-child(8) {
    font-weight: bold; /* Deixa o texto em negrito */
    color: #333; /* Define a cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    width: 150px; /* Define uma largura fixa (ajuste conforme necessário) */
}

.tabelaMensalidades th:first-child,
.tabelaMensalidades td:first-child {
    width: 50px; /* Ajuste conforme necessário */
    min-width: 50px; /* Garante que a largura mínima seja mantida */
    max-width: 50px; /* Evita que a coluna aumente */
    text-align: center; /* Centraliza o número */
    white-space: nowrap; /* Impede quebras de linha */
}


.tabelaTurmas{
    background-color: var(--white-color);
    table-layout:fixed;
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
    gap: 5px;
    margin-top: 20px;
}

.tabelaTurmas th {
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 0.952);
    text-align: center;
    font-weight: bold;
    padding: 9px;
    border: 1px solid #ffffffd0;
}

.tabelaTurmas td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}


.tabelaTurmas th:first-child,
.tabelaTurmas td:first-child {
    width: 50px; /* Ajuste conforme necessário */
    min-width: 50px; /* Garante que a largura mínima seja mantida */
    max-width: 50px; /* Evita que a coluna aumente */
    text-align: center; /* Centraliza o número */
    white-space: nowrap; /* Impede quebras de linha */
}

.tabelaTurmas td:last-child button {
    display: flex;
    justify-content: center;
    margin: 1rem;
    max-width: 100%; /* Garante que o botão não ultrapasse a célula */
    width: auto; /* Permite que o botão se ajuste ao conteúdo */
    padding: 5px 10px; /* Reduz o espaço interno do botão */
    font-size: 14px; /* Reduz um pouco o tamanho do texto */
    white-space: nowrap; /* Evita quebra de linha dentro do botão */
}


.alunosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alunosTable th {
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 15px;
    text-align: left;
    font-weight: bold;
}

.alunosTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: var(--text-color);
}

.alunosTable tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.alunosTable a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.alunosTable a:hover {
    text-decoration: underline;
}

.alunosTable .acoes {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.alunosTable .acoes a {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    transition: all 0.3s;
}

.alunosTable .acoes a:nth-child(1) {
    background-color: var(--errorColor);
    color: var(--white-color);
}

.alunosTable .acoes a:nth-child(1):hover {
    background-color: rgba(255, 41, 41, 0.8);
}

.alunosTable .acoes a:nth-child(2) {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.alunosTable .acoes a:nth-child(2):hover {
    background-color: rgba(0, 123, 255, 0.8);
}

/* Contêiner principal */
#turmas-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}


 /* --------------------------------------------------------------------- FORMULÁRIOS --------------------------------------------------------------------- */

.addAlunoForm {
    background-color: white;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

 
 /* Estilos para as seções */
#form-wrapper, #turmas-list {
    background: #fdfbfb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#form-wrapper, #aluno-list {
    background: #fffcfc;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Títulos */
.titulo-secao {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Formulário */
#form-turma {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}


.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Alinhamento dos campos do formulário */
.form-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.form-row p {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
}

/* ------------------------- FORMULÁRIO DO REGISTRO (LOGIN)--------------- É possivel usar esse estilo para todos os formulários----------- */

/* Estilos para o formulário */


/* Estilo do contêiner do formulário */
.login {
    max-width: 100%; /* Largura máxima */
    width: 400px; /* Largura fixa para o formulário */
    margin: 0 auto; /* Centraliza o formulário */
    margin-top: 50px; /* Espaçamento superior */
    padding: 50px 20px; /* Reduzi o padding vertical */
    

    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto */
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(20px); /* Move o formulário 20px para baixo */
    animation: fadeInUp 0.5s ease-out forwards; /* Animação de aparecer */
}


/* Animação de aparecer */
@keyframes fadeInUp {
    to {
        opacity: 1; /* Torna o formulário visível */
        transform: translateY(0); /* Move o formulário para a posição original */
    }
}


/* Estilo do título "Login" */
.login h2 {
    margin-bottom: 15px; /* Reduz o espaçamento abaixo do título */
    font-size: 34px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
}



/* Estilo dos labels (Usuário e Senha) */
.login label {
    display: flex; /* Faz o label ocupar a linha inteira */
    margin-bottom: 0px; /* Reduz o espaçamento abaixo do label */
    font-size: 16px; /* Tamanho da fonte */
    color: #555; /* Cor do texto */
    text-align: left; /* Alinha o texto à esquerda */
    
}

.login .usuario-label {
    font-size: 20px; /* Tamanho da fonte */
    margin-bottom: -12px; /* Ajuste do espaçamento */
}

.login .senha-label {
    font-size: 20px; /* Tamanho da fonte */
    margin-bottom: 5px; /* Ajuste do espaçamento */
}


/* Estilo dos campos de entrada (input) */
.login input {
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 8px; /* Reduz o padding interno */
    margin-bottom: 5px; /* Reduz o espaçamento abaixo do campo */
    border: 1px solid #ccc; /* Borda do campo */
    border-radius: 4px; /* Cantos arredondados */
    font-size: 6px; /* Tamanho da fonte */
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

/* Efeito hover e focus nos campos de entrada */
.login input:hover,
.login input:focus {
    border-color: #007bff; /* Muda a cor da borda ao passar o mouse ou focar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adiciona uma sombra suave */
}

/* Estilo do botão "Entrar" */
.loginButton {
    width: 57%; /* Ocupa toda a largura disponível */
    padding: 5px; /* Reduz o padding interno */
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 4px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para pointer */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave */
}

/* Efeito hover no botão */
.loginButton:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    transform: scale(1.02); /* Aumenta ligeiramente o tamanho do botão */
}

/* Efeito ativo (quando o botão é clicado) */
.loginButton:active {
    transform: scale(0.98); /* Reduz ligeiramente o tamanho do botão */
}

.buttonEntrar {
    width: 9em;
    height: 3em;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   .buttonEntrar::before {
    content: '';
    color: black;
    width: 0;
    height: 3em;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #dbfa50a8 0%,#007bffc7 100% );
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .buttonEntrar:hover::before {
    width: 9em;
   }


.registrarForm {
    max-width: 100%; /* Largura máxima */
    width: 400px; /* Largura fixa para o formulário */
    margin: 0 auto; /* Centraliza o formulário */
    margin-top: 20px; /* Espaçamento superior */
    padding: 50px 20px; /* Reduzi o padding vertical */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto */
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(20px); /* Move o formulário 20px para baixo */
    animation: fadeInUp 0.5s ease-out forwards; /* Animação de aparecer */
}

/* Animação de aparecer */
@keyframes fadeInUp {
    to {
        opacity: 1; /* Torna o formulário visível */
        transform: translateY(0); /* Move o formulário para a posição original */
    }
}

.registrarForm h1 {
    display: flex;
    justify-content: center;
    margin-top: -40px; /* Move o título para cima, ajustando o valor conforme necessário */
    margin-bottom: 10px;
}


.registrarForm label {
    display: flex; /* Faz o label ocupar a linha inteira */
    margin-bottom: 5px; /* Reduz o espaçamento abaixo do label */
    font-size: 16px; /* Tamanho da fonte */
    color: #555; /* Cor do texto */
    text-align: left; /* Alinha o texto à esquerda */
    
}


/* Estilos para os campos de input */
.registrarForm input {
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 10px; /* Espaçamento abaixo do campo */
    border: 1px solid #ccc; /* Borda do campo */
    border-radius: 4px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
}

.h3 {
    padding-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
}

.table-table-striped{
    background-color: #343a40;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e0dede;
}


/* ---------------------------   EDIÇÃO DOS CAMPOS CHOICES --------------------------------------------------------------------------- */
/* Estiliza o select para ficar alinhado com os inputs */

.form-group select {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    font-size: 16px;
    appearance: none; /* Remove o estilo padrão do navegador */
    -webkit-appearance: none; /* Remove o estilo padrão no Safari */
    -moz-appearance: none; /* Remove o estilo padrão no Firefox */
}

/* Adiciona um ícone de seta personalizado */
.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Garante que os selects fiquem do mesmo tamanho dos inputs */
.form-row select {
    flex: 1;
}

/* Ajuste no hover e focus */
.form-group select:focus {
    border-color: #007bff;
    outline: none;
}

.text-danger {
    color: rgb(197, 14, 14);
    background-color: var(--erroColor);
    font-weight: bold;
}

.text-success {
    color: rgba(10, 141, 10, 0.74);
    font-weight: bold;
}

/* Estilização apenas para o select de pagamento */
.pagamento-select {
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Efeito ao passar o mouse */
.pagamento-select:hover {
    border-color: var(--secondary-color);
    
}

/* Efeito ao focar */
.pagamento-select:focus {
    outline: none;
    border-color: var(--highlight-color);
    box-shadow: 0 0 5px var(--highlight-color);
    text-align: auto;
    
}

  
   .buttonPago { 
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center; /* Alinha horizontalmente no centro */
    background-color: #18940daf;
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;


}
  
  .svgIcon {
    width: 20px;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .buttonPago::before {
    width: 100%;
    height: 140px;
    position: absolute;
    content: "";
    background-color: rgb(14, 114, 22);
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode:color;
  }
  
  .buttonPago:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .buttonPago:active {
    transform: translate(0px,0px);
    transition-duration: .3s;
  }

  /*---------------------------------------------------- NOVO "SOBRE" ----------------------------------*/

/* From Uiverse.io by Tiagoadag */ 
.primeiroCard {
    width: 50%;
    border-color: #ffffff;
    height: 100%;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;

    margin: 1rem;
   }
   
   .card2 {
    width: 100%;
    height: 254px;
    background-color: #38d4c0d2;
    border-radius:20px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .primeiroCard:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }


   /* ------------------------------------------------ CARD DO INDEX <<<<<<<<<<<<<<<<<<<<<< */ 
   .card {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 100%);
    --paragraph: hsl(0, 0%, 83%);
    --primary: hsl(202, 79%, 36%);

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem; /* Reduzido o espaçamento entre elementos */
    padding: 0.75rem; /* Reduzido o padding interno */
    width: 40%; /* Reduzido a largura do card */
    background-color: rgba(19, 104, 93, 0.555);
    background-image: radial-gradient(
        at 88% 40%,
        rgba(28, 148, 156, 0.664) 0px,
        transparent 85%
      ),
      radial-gradient(at 49% 30%, rgba(19, 100, 86, 0.699) 0px, transparent 85%),
      radial-gradient(at 14% 26%, rgba(139, 201, 23, 0.603) 0px, transparent 85%),
      radial-gradient(at 0% 64%, hsla(189, 98%, 26%, 0.63) 0px, transparent 85%),
      radial-gradient(at 41% 94%, hsl(189, 97%, 36%) 0px, transparent 85%),
      radial-gradient(at 100% 99%, hsla(188, 94%, 13%, 0.568) 0px, transparent 85%);
  
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: auto; /* Card alinhado à direita */
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}



  .card .card__list_item .list_text {
    display: inline-block;
    font-size: 17px!important; /* Define o tamanho da fonte */
    color: #ffffff; /* Define a cor do texto */
  }


  .card .card__border {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: linear-gradient(0deg,hsl(0, 0%, 100%) -50%,#13685d8e);
    border-radius: 1rem;
  }
  
  .card .card__border::before {
    content: "";
    pointer-events: none;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%), rotate(0deg);
    transform-origin: left;
    width: 200%;
    height: 10rem;
    background-image: linear-gradient(
      0deg,
      hsla(83, 75%, 51%, 0.733) 0%,
      hsl(189, 100%, 50%) 40%,
      hsla(83, 75%, 51%, 0.733) 0%,
      hsl(78, 73%, 54%) 100%
    );
    animation: rotate 8s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .card .card_title__container .card_title {
    display: flex;
    justify-content: right;
    margin-right: 10rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--white);
  }

  .card .line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--line);
    border: none;
  }

.card_paragraph {
    display: flex;
    justify-content: right;
    margin-top: 0.25rem;
    margin-right: 5rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }
  
  /* ---------------------------- LISTA DOS CHECKS -------------------------------*/

  

.card .card__list {
    display: flex;
    flex-direction: column;
    align-items:last baseline; /* Alinha os itens no centro da coluna */
    justify-content: center; /* Pode ser necessário ajustar se a altura não for suficiente */
    margin-right: 5.5rem;
    gap: 0.5rem;

}

.card .card__list .card__list_item {
    display: flex;
    align-items: left;
    gap: 0.5rem;

  }
  
.card .card__list .card__list_item .check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    background-color: var(--primary);
    border-radius: 50%;
    margin-top: 0.4rem;
  }
  
  .card .card__list .card__list_item .check .check_svg {
    width: 0.75rem;
    height: 0.75rem;
    fill: var(--black);
  }
  
  .card .card__list .card__list_item {
    font-size: 0.75rem;
    color: var(--white);

  }
  
  .buttonAcesso {
    cursor: pointer;
    border: 0;
    padding: 0.5rem 1rem;
    min-width: 120px; /* Defina o tamanho mínimo desejado */
    min-height: 40px; /* Defina a altura mínima desejada */
    border-radius: 20px;
    background-image: linear-gradient(0deg, hsl(189, 92%, 58%), hsl(189, 99%, 26%) 100%);
    box-shadow: white;
    transition: all 1s;
    box-sizing: border-box;
  }

  .buttonAcesso:hover {
    scale: 105%;
    background-image: radial-gradient(
        at 88% 40%,
        rgba(49, 232, 245, 0.842) 0px,
        transparent 85%
      ),
      radial-gradient(at 49% 30%, rgba(19, 100, 86, 0.897) 0px, transparent 85%),
      radial-gradient(at 14% 26%, rgba(139, 201, 23, 0.932) 0px, transparent 85%),
      radial-gradient(at 0% 64%, hsl(189, 98%, 26%) 0px, transparent 85%),
      radial-gradient(at 41% 94%, hsl(189, 97%, 36%) 0px, transparent 85%),
      radial-gradient(at 100% 99%, hsl(188, 94%, 13%) 0px, transparent 85%);
  }









/* Responsividade: em telas pequenas, os formulários ficam em coluna */
@media (max-width: 768px) {
    .editar-perfil-container {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        width: 100%;
        max-width: 100%;
    }
}


.cardPagamento-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem;
  }
  
  .cardPagamento {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 4px solid #2baf0abd;
    transition: 0.5s ease-out;
    overflow: visible;
  }
  
  .cardPagamentoAtrasado {
    background: #fff0f0; /* Cor de fundo personalizada */
    border-color: #ff6b6b; /* Cor da borda personalizada */
  }
  
  .cardPagamentoAtrasado .text-title {
    color: #ff6b6b; /* Cor do título personalizada */
  }
  
  .cardPagamentoAtrasado .card-button {
    background-color: #ff6b6b; /* Cor do botão personalizada */
  }
  
  .cardPagamentoAtrasado:hover {
    border-color: #ff6b6b; /* Cor da borda no hover */
    box-shadow: 0 4px 18px 0 rgba(255, 107, 107, 0.25); /* Sombra no hover */
  }
  
  .card-details {
    color: black;
    height: 100%;
    gap: 0.5em;
    display: grid;
    place-content: center;
    text-align: center;
  }
  
  .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
  }
  
  .text-body {
    color: rgb(134, 134, 134);
  }
  
  .text-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  /* Hover */
  .cardPagamento:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }
  
  .cardPagamento:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
  }


/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-header h1 {
    font-size: 2.5em;
    color: #3086b8dc;
    margin-bottom: 10px;
}

.profile-section {
    margin-bottom: 30px;
}

.profile-section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #008bf8;
    padding-bottom: 5px;
}

.profile-info {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.profile-info p {
    font-size: 1.1em;
    margin: 10px 0;
    color: #555;
}

.profile-info strong {
    color: #333;
}

.profile-actions {
    text-align: center;
    margin-top: 30px;
}

.blueButton {
    background-color: #008bf8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.blueButton:hover {
    background-color: #0073cc;
}
.buttonCase{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
    padding: 20px;
    align-items: center;
    justify-content: center;


}